@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: var(--font-inter);
    --font-montserrat: var(--font-montserrat);
  }
  
  body {
    @apply font-inter;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-montserrat;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}